<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="words" value=".\words\words.txt"/>
    <add key="stopWords" value=".\words\stop-word-list.txt"/>
  </appSettings>
</configuration>